.forgotPassForm {
	width: 92%;
	max-width: 400px;
	margin: 0 auto;

	// h2 {
	// 	width: 400px;
	// }

	.forgotpass-sub {
		.input-box {
			width: 100%;
			// margin-bottom: 5%;
			// display: flex;
			// flex-direction: column;
			// align-items: flex-start;
			text-align: left;
			margin-bottom: 2rem;

			label {
				margin-bottom: 0;
			}

			input {
				width: 100%;
			}
		}

		.forgotPass {
			margin-bottom: 3%;
			width: 100%;
			height: 4rem;
			// left: 496px;
			// top: 670px;
			// left: 0%;
			// right: 0%;
			// top: 0%;
			// bottom: 0%;
			/* Grey / grey-9 */
			background: #262626;
			border-radius: 5px;
			font-family: inherit;
			padding-left: 2rem;
			cursor: pointer;

			border: none;

			/* Semibold / 16 px | 24 px */
			font-style: normal;
			// font-weight: 600;
			font-size: 16px;
			line-height: 24px;

			// /* or 150% */
			// display: flex;
			// align-items: center;
			// text-align: center;

			/* Grey / grey-1 */
			color: #ffffff;
		}

		a {
			text-decoration: none;
			color: black;
		}
	}

	// label.label {
	// margin-right: 80%;
	// margin-bottom: 3%;
	// align-self: flex-start;
	// }
}
