.overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(72, 72, 72, 0.4);
	z-index: 999;
}

.modal {
	position: absolute;
	overflow: auto;
	overflow-x: hidden;
	left: 50%;
	transform: translate(-50%);
	background: white;
	border-radius: 10px;
	text-align: left;
  width: 63.4rem;
	height: 45.7rem;
  z-index: 1000;
  padding: 3rem 1.6rem;
}

.wrapper {
  margin: auto;
  padding: 0 4%;
  text-align: center;
}

.h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 3rem;
	line-height: 3.8rem;
	color: #202124;
	margin-bottom: 1.7rem;
}

.close {
  display: flex;
  justify-content: flex-end;
  &:hover {
    cursor: pointer;
  }
}