.dash-customer-connectstripe {
	border: 1px solid #dadce0;
	border-radius: 0.8rem;
	padding: 2.4rem;
	margin-top: 4rem;

	h3 {
		font-style: normal;
		font-weight: 600;
		font-size: 2rem;
		line-height: 2.8rem;
		color: #202124;
		margin-bottom: 4rem;
	}

	.dash-payment-row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		p {
			color: #5f6368;
		}

		// button {
		// 	width: 15rem;
		// 	height: 3.6rem;
		// 	background-color: #096dd9;
		// 	border-radius: 0.4rem;
		// 	font-style: normal;
		// 	font-weight: 600;
		// 	font-size: 1.4rem;
		// 	line-height: 2.2rem;
		// 	text-align: center;
		// 	cursor: pointer;

		// 	a {
		// 		color: #ffffff;
		// 		text-decoration: none;
		// 	}

		// 	&:hover {
		// 		background-color: #0050b3;
		// 	}
		// }
	}
}
