.editform {
	display: flex;
	margin: 4rem auto;
	justify-content: space-between;
	width: 100%;
	flex-direction: column;
	border: 1px solid #dadce0;
	border-radius: 0.8rem;
	padding: 2.4rem 0;

	h2 {
		font-style: normal;
		font-weight: 600;
		font-size: 2rem;
		line-height: 2.8rem;
		text-align: left;
		color: #202124;
		margin-left: 3.2rem;
		margin-bottom: 6rem;
	}

	h3 {
		font-style: normal;
		font-weight: 600;
		font-size: 2rem;
		line-height: 2.8rem;
		color: #202124;
		text-align: left;
		margin-left: 2.4rem;
		margin-bottom: 2.5rem;
	}

	h4 {
		font-style: normal;
		font-weight: 600;
		font-size: 1.2rem;
		line-height: 2rem;
		color: #5f6368;
		text-transform: uppercase;
	}
}

.dash-input {
	display: flex;
	justify-content: space-between;
	align-items: center;
	// height: 5rem;
	border-bottom: 1px solid #dadce0;
	padding: 0.8rem 2.4rem;

	@media screen and (max-width: 380px) {
		flex-direction: column;
		height: 8rem;
		margin-bottom: 1rem;
		align-items: flex-start;
	}
}

.dash-input:last-of-type {
	border-bottom: none;
	padding-bottom: 0;
}

.dash-row {
	display: flex;
	align-items: center;
	// height: 5rem;
	width: 100%;

	p {
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		color: #202124;
	}

	a {
		color: inherit;
	}

	textarea,
	input {
		width: 92%;
		max-width: 52.4rem;
		margin: 0;
		flex-shrink: 1;
		font-weight: normal;
		font-size: 16px;
		@media screen and (max-width: 940px) {
			margin: 0 1rem 0 0;
		}
	}
}

.dash-heading {
	margin: 10px 0;
	width: 15.6rem;
	text-align: left;
	display: flex;
	align-items: center;

	.account-icon {
		margin-right: 0.8rem;
	}
}

.edit-button {
	background-color: white;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 1.2rem;
	line-height: 2rem;
	color: #5f6368;
	cursor: pointer;

	&:hover {
		color: #096dd9;
	}
}

.update-btns {
	display: flex;
	flex-direction: row-reverse;

	@media screen and (max-width: 380px) {
		align-self: center;
	}
}

.cancel-button {
	background-color: white;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 1.2rem;
	line-height: 2rem;
	color: #5f6368;
	cursor: pointer;

	&:hover {
		color: #096dd9;
	}
}

.accept-button {
	background-color: white;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 1.2rem;
	line-height: 2rem;
	color: #5f6368;
	cursor: pointer;
	margin-right: 2.4rem;

	&:hover {
		color: #096dd9;
	}
}

#dashboard-input-bio {
	display: flex;
	overflow-wrap: break-word;
	max-width: 50rem;
	text-align: left;
	min-height: 7rem;
	align-items: center;
	overflow-wrap: break-word;
	width: 50rem;
	// height: 7rem;
	text-align: left;
	display: flex;
	align-items: flex-start;
}

.basiceditform {
	.dash-input:nth-child(3) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 7.5rem;
		border-bottom: 1px solid #dadce0;
		padding: 1.5rem 2.4rem;

		@media screen and (max-width: 380px) {
			flex-direction: column;
			height: 8rem;
			margin-bottom: 1rem;
			align-items: flex-start;
		}
		:nth-child(1) {
			display: flex;
			overflow-wrap: break-word;
			text-align: left;
			min-height: 7rem;
			align-items: center;
			:nth-child(2) {
				max-width: 50rem;
			}
		}
	}
}
