.toggle-checkbox{
  visibility: hidden;
}

.toggle-label{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100px;
  height: 50px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color .2s;
  .toggle-button{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }
}

.toggle-checkbox:checked + .toggle-label .toggle-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.toggle-label:active .toggle-button {
  width: 60px;
}